# Ignore build artifacts from the local tests sub-crate.
/target/
yarn.lock
.vscode

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Mac turds
.DS_Store
scripts/.env.local
scripts/node_modules/
scripts/yarn.lock
scripts/package-lock.json
scripts/.env
scripts/.env.production
scripts/.env.development
scripts/.env.test

scripts/addresses.csv
scripts/yarn-error.log

